@model HackerNews.Mvc.ViewModels.ViewComponents.ArticleCard.ArticleCardViewModel

@*<div class="row w-100">
    <div class="col card article-card mb-3">
        <div class="row card-body">
            <div class="d-none d-md-block col-md-1 text-center">
                @Model.Article.Karma
            </div>
            <div class="col-sm-12 col-md-11">
                <a class="article-card-title" asp-controller="Articles" asp-action="Details" asp-route-id="@Model.Article.Id">
                    @Model.Article.Title
                </a>
                <div>

                    <a asp-controller="Boards" asp-action="Details" asp-route-id="@Model.Board.Id">@Model.Board.Title</a>
                    | Posted by <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id">@Model.User.Username</a>
                    at <a asp-controller="Articles" asp-action="Past" asp-route-date="@Model.Article.PostDate">@Model.Article.PostDate</a>
                    @if (Model.Article.CommentIds.Count() >= 1)
                    {
                        <text>| <a asp-controller="Articles" asp-action="Details" asp-route-id="@Model.Article.Id">@Model.Article.CommentIds.Count() comments</a></text>
                    }
                    @if (Model.Article.Deleted)
                    {
                        <text>| <span class="text-danger">Deleted</span></text>
                    }

                </div>
                <p>
                    @Model.Article.Text
                </p>
            </div>
        </div>
    </div>
</div>*@

<div class="card">
    <div class="karma-col">
        <a href="#" class="upvote upvoted"><i class="fas fa-caret-up"></i></a>
        <p>@Model.Article.Karma</p>
        <a href="#" class="downvote"><i class="fas fa-caret-down"></i></a>
    </div>
    <div class="content-col">
        <div class="sub-row">
            <a asp-controller="Boards" asp-action="Details" asp-route-id="@Model.Board.Id" class="sub-link">@Model.Board.Title</a>
            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id" class="user-link">Posted by @Model.User.Username 10 hours ago</a>
        </div>
        <div class="title-row">
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@Model.Article.Id">
            @Model.Article.Title
                </a>
        </div>
        <div class="more-row">
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@Model.Article.Id" class="comment-link">@Model.Article.CommentIds.Count() comments</a>
            @if (Model.Saved)
            {
                <a href="#" class="save-link">Saved</a>
            }
            else
            {
                <a href="#" class="save-link">Save</a>
            }
        </div>
    </div>
</div>