@model HackerNews.Mvc.ViewModels.ViewComponents.ArticleCard.ArticleCardViewModel

<div class="card">
    <div class="karma-col">
        @if (Model.LoggedIn)
        {
            <a 
           @if (Model.UserUpvoted)
           {
               <text>class="upvote upvoted"</text>
           } else {
               <text>class="upvote"</text>
           }

           onclick="upvoteArticle('@Model.Article.Id', '@Model.Jwt', this)"><i class="fas fa-caret-up"></i></a>
        }
        
        <p>@Model.Article.Karma</p>

        @if (Model.LoggedIn)
        {
        <a
           @if (Model.UserDownvoted)
           {
                <text>class="downvote downvoted"</text>
           }
           else
           {
                <text>class="downvote"</text>
           }

           onclick="downvoteArticle('@Model.Article.Id', '@Model.Jwt', this)"><i class="fas fa-caret-down"></i></a>
        }
    </div>
    <div class="content-col">
        <div class="sub-row">
            <a asp-controller="Boards" asp-action="Details" asp-route-id="@Model.Board.Id" class="sub-link">@Model.Board.Title</a>
            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id" class="user-link">Posted by @Model.User.Username 10 hours ago</a>
        </div>
        <div class="title-row">
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@Model.Article.Id">
                @Model.Article.Title
            </a>

        </div>
        @if (Model.ImageDataUrl != null && Model.ImageDataUrl != "")
        {
        <div class="img-row">
            <img src="@Model.ImageDataUrl" />
        </div>
        }
        <div class="more-row">
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@Model.Article.Id" class="comment-link">@Model.Article.CommentIds.Count() comments</a>
            @if (Model.Saved)
            {
                <a class="save-link"
                   onclick="unsaveArticle('@Model.Article.Id', '@Model.Jwt', this)">Saved</a>
            }
            else
            {
                <a class="save-link" onclick="saveArticle('@Model.Article.Id', '@Model.Jwt', this)">Save</a>
            }
            @if(Model.UserCreatedArticle)
            {
                <a class="save-link" asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Article.Id">Edit</a>
            }
        </div>
    </div>
</div>