@model HackerNews.Mvc.ViewModels.ViewComponents.CommentCardViewModel 

<div class="card comment-card">
    <div class="karma-col">
        
         @if (Model.LoggedIn)
        {
            <a 
           @if (Model.UserUpvoted)
           {
               <text>class="upvote upvoted"</text>
           } else {
               <text>class="upvote"</text>
           }

           onclick="upvoteComment('@Model.Comment.Id', '@Model.Jwt', this)"><i class="fas fa-caret-up"></i></a>
        }

        <p>@Model.Comment.Karma</p>
        
        @if (Model.LoggedIn)
        {
        <a
           @if (Model.UserDownvoted)
           {
                <text>class="downvote downvoted"</text>
           }
           else
           {
                <text>class="downvote"</text>
           }

           onclick="downvoteComment('@Model.Comment.Id', '@Model.Jwt', this)"><i class="fas fa-caret-down"></i></a>
        }
    </div>
    <div class="content-col">
        <div class="sub-row">
            @if (Model.User == null || Model.User.Id <= 0)
            {
                <div>
                    Posted by <a href="#">[deleted user]</a> at @Model.Comment.PostDate
                </div>
            }
            else
            {
                <div>
                    Posted by <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id">@Model.User.Username</a>at @Model.Comment.PostDate
                </div>
            }
            <div>
                @if (Model.ParentArticle != null && Model.ParentArticle.Id > 0)
                {
                    <a asp-controller="Articles" asp-action="Details" asp-route-id="@Model.ParentArticle.Id">Parent</a>
                }
                @if (Model.ParentComment != null && Model.ParentComment.Id > 0)
                {
                    <a asp-controller="Comments" asp-action="Details" asp-route-id="@Model.ParentComment.Id">Parent</a>

                }
                | @if (Model.Comment.CommentIds.Count() <= 0)
                {
                    <a asp-controller="Comments" asp-action="Details" asp-route-id="@Model.Comment.Id">Start discussion</a>
                }
                @if (Model.Comment.CommentIds.Count() > 0)
                {
                    <a asp-controller="Comments" asp-action="Details" asp-route-id="@Model.Comment.Id">@Model.Comment.CommentIds.Count() comments</a>
                }
            </div>
        </div>
        <div class="title-row">
            @Model.Comment.Text

            @if (Model.UserCreatedComment)
            {
            <form asp-controller="Comments" asp-action="Edit" method="post">
                <textarea class="form-control" asp-for="Comment.Text"></textarea>
                <input hidden asp-for="Comment.Id" />
                <input type="submit" class="btn btn-secondary" value="Update comment" />
            </form>
            }
        </div>
        <div class="more-row">
            @if (Model.Saved)
            {
                <a class="save-link"
                   onclick="unsaveComment('@Model.Comment.Id', '@Model.Jwt', this)">Saved</a>
            }
            else
            {
                <a class="save-link" onclick="saveComment('@Model.Comment.Id', '@Model.Jwt', this)">Save</a>
            }
            @if (Model.Comment.Deleted)
            {
                <span class="text-danger">Deleted</span>
            }
            else if (Model.UserCreatedComment)
            {
                <a class="save-link text-danger" asp-controller="Comments" asp-action="Delete" asp-route-id="@Model.Comment.Id">Delete</a>
            }

        </div>
    </div>
</div>