@model HackerNews.Mvc.ViewModels.ViewComponents.BoardSidebarViewModel

<div class="card">
    <div class="card-top">
        HackerNews
    </div>
    @if (Model.ImageDataUrl != null && Model.ImageDataUrl != "")
    {
        <div class="board-sidebar-img">
            <img src="@Model.ImageDataUrl" />
        </div>
    }
    <div class="card-body">
        <h4>@Model.Board.Title</h4>
        <p>
            @Model.Board.Description
        </p>
    </div>
    <div class="card-footer">
        <a asp-controller="Boards" asp-action="Moderators" asp-route-id="@Model.Board.Id">Moderators</a>
        <p>Created @Model.Board.CreateDate</p>
        <p>@Model.Board.SubscriberIds.Count() Subscribers</p>

        @if (Model.LoggedIn)
        {
            <a asp-controller="Articles" asp-action="Create" asp-route-boardId="@Model.Board.Id" class="btn btn-primary col my-1">Create Post</a>

            @if (Model.Subscribed)
            {
                <a asp-controller="Boards" asp-action="Subscribe" asp-route-boardId="@Model.Board.Id" class="btn btn-primary col my-1">Unsubscribe</a>
            }
            else
            {
                <a asp-controller="Boards" asp-action="Subscribe" asp-route-boardId="@Model.Board.Id" class="btn btn-outline-primary col my-1">Subscribe</a>
            }
            @if (Model.Moderating)
            {
                <a asp-controller="Boards" asp-action="Admin" asp-route-id="@Model.Board.Id" class="btn btn-outline-dark">Admin Panel</a>
            }
        }
        else
        {
            <a asp-controller="Users" asp-action="Login" class="btn btn-outline-primary col my-1">Login</a>
        }
    </div>
</div>
