@model HackerNews.ViewModels.Comments.CommentDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GetCommentModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetModel.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetModel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetModel.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetModel.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetModel.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetModel.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetModel.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetModel.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetModel.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetModel.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetModel.Karma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetModel.Karma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetModel.ParentCommentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetModel.ParentCommentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetModel.ParentArticleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetModel.ParentArticleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetModel.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetModel.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetModel.BoardId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetModel.BoardId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
