<!DOCTYPE html>
<html class="light-theme">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/68cc03526d.js" crossorigin="anonymous"></script>

    @*<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/lib/jquery/jquery.js" />
    <link rel="stylesheet" href="~/lib/jquery-validate/jquery.validate.js" />
    <link rel="stylesheet" href="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("styles", required: false)

    @*<script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>*@
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @await Component.InvokeAsync("Navbar")
    </div>

    <main class="container main-container">
        <div class="content">
            @RenderBody()
        </div>

        <div class="sidebar">
            @RenderSection("Sidebar", required: false)
        </div>
    </main>

    <script src="~/js/hackerNews.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
