<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/68cc03526d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("styles", required: false)

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @await Component.InvokeAsync("Navbar")
    </div>

    <main class="container main-container">
        <div class="content">
            @RenderBody()
        </div>

        <div class="sidebar">
            @RenderSection("Sidebar", required: false)
        </div>
    </main>

    <!-- JavaScript -->
    <script src="~/js/hackerNews.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
