@model ArticleDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="h3">@Model.GetModel.Title</h1>

            @Model.GetModel.Karma points by <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id">@Model.User.Username</a>
            at @Model.GetModel.PostDate
            |  <a asp-controller="Boards" asp-action="Details" asp-route-id="@Model.Board.Id">@Model.Board.Title</a>

            <p>@Model.GetModel.Text</p>

            @* Add Comment*@
            <form asp-controller="Articles" asp-action="AddComment" method="post">
                <div class="form-group">
                    <textarea class="form-control" asp-for="PostCommentModel.Text"></textarea>
                </div>
                <input hidden asp-for="GetModel.BoardId" />
                <input hidden asp-for="GetModel.Id" />
                <input hidden asp-for="GetModel.UserId" />


                <div class="form-group">
                    <input type="submit" class="btn btn-outline-secondary" value="Add comment" />
                </div>
            </form>

            <div class="container-fluid">
                @foreach (var comment in Model.Comments)
                {
                    @await Component.InvokeAsync("CommentCard", new { commentModel = comment });
                }
            </div>
        </div>
    </div>
</div>