@model HackerNews.ViewModels.Other.CommentCardViewModel

<div class="row w-100">
    <div class="col card article-card mb-3">
        <div class="row card-body">
            <div class="vote-panel hidden-sm col-md-1 text-center">
                <a asp-controller="Comments" asp-action="vote" asp-route-id="@Model.Comment.Id" asp-route-upvote="@true">
                    <i class="fas fa-caret-up"></i>
                </a>
                <div class="">@Model.Comment.Karma</div>
                <a asp-controller="Articles" asp-action="vote" asp-route-id="@Model.Comment.Id" asp-route-upvote="@false">
                    <i class="fas fa-caret-down"></i>
                </a>
            </div>
            <div class="col-sm-12 col-md-11">
                <div>
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id">@Model.User.Username</a> at
                    @Model.Comment.PostDate

                    |  <a asp-controller="Boards" asp-action="Details" asp-route-id="@Model.Board.Id">@Model.Board.Title</a>

                    |
                    @if (Model.ParentArticle != null)
                    {
                        <a asp-controller="Articles" asp-action="Details" asp-route-id="@Model.ParentArticle.Id">Parent</a>
                    }
                    @if (Model.ParentComment != null)
                    {
                        <a asp-controller="Comments" asp-action="Details" asp-route-id="@Model.ParentComment.Id">Parent</a>

                    }
                    | @if (Model.Comment.CommentIds.Count() <= 0)
                    {
                        <a asp-controller="Comments" asp-action="Details" asp-route-id="@Model.Comment.Id">Start discussion</a>
                    }
                    @if (Model.Comment.CommentIds.Count() >= 1)
                    {
                        <a asp-controller="Comments" asp-action="Details" asp-route-id="@Model.Comment.Id">@Model.Comment.CommentIds.Count() comments</a>
                    }
                </div>
                <p>
                    @Model.Comment.Text
                </p>
            </div>
        </div>
    </div>
</div>