@model HackerNews.ViewModels.Users.PublicUserDetailsViewModel

@{
    ViewData["Title"] = $"{Model.User.Username}'s profile";
}

<div class="container-fluid">
    <div class="row mt-2">
        @* Sidebar *@
        <div class="col-sm-12 col-md-5 sidebar">
            <div class="row card mx-2">
                <div class="col card-body">
                    <h2>@Model.User.Username</h2>
                    <p>
                        @Model.User.Karma karma | Joined at @Model.User.JoinDate
                    </p>
                </div>
            </div>
        </div>

        @* Main Content *@
        <div class="col-sm-12 col-md-7 main-content card-deck">
            <div class="row mx-2">
                @* Articles *@
                <div class="my-2">
                    <h4>Articles</h4>
                    @foreach (var article in Model.ArticlePage.Items)
                    {
                        @await Component.InvokeAsync("ArticleCard", new { articleModel = article });
                    }
                    <a asp-controller="Users" asp-action="Articles" asp-route-userId="@Model.User.Id">All Articles</a>
                </div>

                @* Comments *@
                <div class="my-2">
                    <h4>Comments</h4>
                    @foreach (var comment in Model.CommentPage.Items)
                    {
                        @await Component.InvokeAsync("CommentCard", new { commentModel = comment });
                    }
                    <a asp-controller="Users" asp-action="Comments" asp-route-userId="@Model.User.Id">All Comments</a>
                    <div class="row w-100 h-100"></div>
                </div>
            </div>
        </div>


        @* Footer *@
    </div>
    <div class="card-footer">
    </div>
</div>
