@model HackerNews.Mvc.ViewModels.Users.UserArticlesViewModel

@foreach (var article in Model.ArticlePage.Items)
{
    @await Component.InvokeAsync("ArticleCard", new { articleModel = article });
}

<div class="navigation-row">
    @* Bottom of Article List *@
    @if (Model.ArticlePage.HasPrev)
    {
        <a asp-controller="Users" asp-action="Articles"
            asp-route-pageNumber="@Model.ArticlePage.PrevPagingParams.PageNumber"
            asp-route-pageSize="@Model.ArticlePage.PrevPagingParams.PageSize"
            asp-route-userId="@Model.UserId"
            class="btn">
            Prev
        </a>
    }
    @if (Model.ArticlePage.HasNext)
    {
        <a asp-controller="Users" asp-action="Articles"
            asp-route-pageNumber="@Model.ArticlePage.NextPagingParams.PageNumber"
            asp-route-pageSize="@Model.ArticlePage.NextPagingParams.PageSize"
            asp-route-userId="@Model.UserId"
            class="btn">
            Next
        </a>
    }
</div>
