@model HackerNews.Mvc.ViewModels.Users.UserSearchViewModel

@* Search Bar *@
<form asp-controller="Users" asp-action="Search">
    <div class="input">
        <i class="fas fa-search input-icon"></i>
        <input type="search" class="page-search" placeholder="Search Users" asp-for="SearchTerm">
    </div>
</form>

<a asp-controller="Home" asp-action="Search"
   asp-route-searchTerm="@Model.SearchTerm">
    Back to search
</a>

<h2>Search Users</h2>

@foreach (var user in Model.UserPage.Items)
{
    @await Component.InvokeAsync("UserCard", new { userModel = user });
}

<div class="navigation-row">
    @if (Model.UserPage.HasPrev)
    {
        <a asp-controller="Users" asp-action="Search"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-pageNumber="@Model.UserPage.PrevPagingParams.PageNumber.ToString()"
           asp-route-pageSize="@Model.UserPage.PrevPagingParams.PageSize.ToString()"
           class="mr-auto btn btn-outline-secondary">
            Prev
        </a>
    }
    @if (Model.UserPage.HasNext)
    {
        <a asp-controller="Users" asp-action="Search"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-pageNumber="@Model.UserPage.NextPagingParams.PageNumber.ToString()"
           asp-route-pageSize="@Model.UserPage.NextPagingParams.PageSize.ToString()"
           class="mr-auto btn btn-outline-secondary">
            Next
        </a>
    }
</div>

@section Sidebar {
    @await Component.InvokeAsync("HomeSidebarCard")
}
