@model HackerNews.ViewModels.Other.ArticleCardViewModel
 
<div class="row w-100">
    <div class="col card article-card mb-3">
        <div class="row card-body">
            <div class="vote-panel hidden-sm col-md-1 text-center">
                    <a asp-controller="Articles" asp-action="vote" asp-route-id="@Model.Article.Id" asp-route-upvote="@true">
                        <i class="fas fa-caret-up"></i>
                    </a>
                <div class="">@Model.Article.Karma</div>
                    <a asp-controller="Articles" asp-action="vote" asp-route-id="@Model.Article.Id" asp-route-upvote="@false">
                        <i class="fas fa-caret-down"></i>
                    </a>
            </div>
            <div class="col-sm-12 col-md-11">
                <a class="article-card-title" asp-controller="Articles" asp-action="Details" asp-route-id="@Model.Article.Id">
                    @Model.Article.Title
                </a>
                <div>
                    <a asp-controller="Boards" asp-action="Details" asp-route-id="@Model.Board.Id">@Model.Board.Title</a>
                    | Posted by <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id">@Model.User.Username</a>
                    at <a asp-controller="Articles" asp-action="Past" asp-route-date="@Model.Article.PostDate">@Model.Article.PostDate</a>
                </div>
            </div>
        </div>
    </div>
</div>